header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.cities__box {
  border: 1px solid grey;
  border-radius: 3px;
}

.cityBox {
  background-color: #ddd;
  width: 500px;
  padding: 10px;
}
