.city__option {
  background-color: white;
}

.city__option:hover {
  background-color: #eee;
  border: 1px solid #ddd;
}

.city__icon {
  height: 20px;
  padding: 2px;
}

.table__City {
  display: flex;
  padding: 10px;
}

.table__City--Flag {
  padding: 7px;
}

.table__text {
  color: #888;
  font-size: 0.8rem;
}


.table__row {
  width: 200px;
}

.table__cell--right {
  display: flex;
  justify-content: flex-end;
}

.noGPS {
  color: red;
}

.nameStrong {
  text-transform: uppercase;
  font-weight: bold;
}
